{% extends 'layout.html' %}

{% block title %}Pemesanan{% endblock %}

{% block content %}
<div>
    <center>
    <h2>Jenis Bus</h2>
    <table border="1">
    <thead>
    <td>No Bus</td>
    <td>Asal</td>
    <td>Tujuan</td>
    <td>Kelas</td>
    <td>Waktu</td>
    <td>Harga</td>
    </thead>
    <tbody>
    <tr>
        <td>J001</td>
        <td>Jogja</td>
        <td>Jakarta</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>200000</td>
    </tr>
    <tr>
        <td>J002</td>
        <td>Jogja</td>
        <td>Bandung</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>170000</td>
    </tr>
    <tr>
        <td>J003</td>
        <td>Jogja</td>
        <td>Surabaya</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>100000</td>
    </tr>
    <tr>
        <td>J004</td>
        <td>Jakarta</td>
        <td>Jogja</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>200000</td>
    </tr>
    <tr>
        <td>J005</td>
        <td>Bandung</td>
        <td>Jogja</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>170000</td>
    </tr>
    <tr>
        <td>J006</td>
        <td>Surabaya</td>
        <td>Jogja</td>
        <td>EKSEKUTIF</td>
        <td>08.00 WIB</td>
        <td>100000</td>
    </tr>
    </tbody>
</table>
</center>
</div>

{% endblock %}